/* 다크모드일 때 헤더 스타일 */
.auction-info.dark {
    color: #f0f0f0;
}

/* 화이트모드일 때 헤더 스타일 */
.auction-info.light {
    color: #000;
}

/* 라이트 모드 버튼 배경 */
.theme-toggle-button.light {
    background-color: white;
    color: black;
}

/* 다크 모드 버튼 배경 */
.theme-toggle-button.dark {
    background-color: #333;
    color: white;
}

/* 테마 전환 버튼 */
.theme-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 100;
}

/* 라이트 모드일 때 검색창 스타일 */
.light-mode .search-bar input {
    background-color: #fff;
    color: #fff;
}

/* 다크 모드일 때 검색창 스타일 */
.dark-mode .search-bar input {
    background-color: #333;
    color: #000;
}

/* 다크모드 텍스트 색상 */
.main-header.dark .nav-links a {
    color: #f0f0f0;
}

.main-header.dark .nav-links a:hover {
    color: #63b3ff;
}

/* 화이트모드 텍스트 색상 */
.main-header.light .nav-links a {
    color: #000;
}

.main-header.light .nav-links a:hover {
    color: #007acc;
}

/* 다크모드일 때 헤더 스타일 */
.main-header.dark {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

/* 화이트모드일 때 헤더 스타일 */
.main-header.light {
    background-color: #ffffff;
    color: #000;
}

/* 다크모드와 화이트모드 스타일 */
.dark-mode {
    background: linear-gradient(135deg, #1a1a1a, #1a1a1a);
    color: #f0f0f0;
}

.light-mode {
    background: linear-gradient(135deg, #ffffff, #ffffff);
    color: #000;
}